#about{
    display: flex;
    /* justify-content: space-around; */
    background: black;
    color: white;
    height: 800px;
    padding-left: 100px;

}
#about h1{
    font-size: 50px;
    font-weight: 700;
}
.about{
    width: 500px;
    height: 350px;
}
.content,
.see{
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}
.content .see {
    font-size: 30px;
    font-weight: 700;
}

  .skills,
  .experience,
  .education {
    color: #333;
  }
  
  .skills {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .skills ul {
    list-style-type: none;
    padding: 0;
  }
  
  .skills li {
    margin-bottom: 5px;
    
  }
  ul li{
    list-style-type: none;
  }
  
  .experience,
  .education {
    margin-top: 20px;
  }
  
  .experience p,
  .education p {
    margin: 10px 0;
  }