#contact {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  justify-content: center;
  color: white;
  padding: 20px;

}

.contact {
  padding: 20px;
  background-color: #f0f0f0; 
  box-sizing: border-box;
  color: black;
}

.contact-info {
  padding: 20px;
  background-color: #f0f0f0; 
  color: black;
  
}

.title {
  font-size: 24px;
  margin-top: 20px;
}
.title form{
  gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

input,
textarea {
  margin-bottom: 10px;
  padding: 8px;
}

button {
  padding: 10px;
  background-color: black; 
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  font-size: large;
}

button:hover {
  background-color: #0056b3; 
}

.contact-info span{
  font-weight: bold;
  color: teal;
  font-size: larger;
}
.phone{
  font-size: large;
  font-weight: bold;
  margin-top: 20px;

}
.email{
  font-size: large;
  font-weight: bold;
  margin-top: 50px;
}

.social {
  display: flex;
  margin-top: 70px;
  font-size: xx-large;
  gap: 40px;
}

.social a {
  margin-right: 10px;
  color: #007bff; 
}

.social a:hover {
  color: #0056b3; 
}
